<!-- HTML file -->
<!DOCTYPE html>
<html>

<head>
	<title>Title of document</title>
	<link type="text/css" href="css/main.css" rel="stylesheet"/>
</head>

<body>
	<!-- This is the body. Here is where you'll add in all your elements -->


	<!-- Links to Javascript files/code -->
	<script src="https://d3js.org/d3.v4.min.js"></script> <!-- d3 library -->
	<script src="js/index.js"></script> <!-- your javascript code file -->
	<script>
		// You can also type in Javascript code straight into the HTML file
		// console.log("Hello world");
	</script>

</body>

</html>
