body,html {
}
@font-face {
  font-family: radnika-black;
  src: url("fonts/Radnika-Black.otf");
}
@font-face {
  font-family: radnika-bold;
  src: url("fonts/Radnika-Bold.otf");
}
@font-face {
  font-family: radnika-regular;
  src: url("fonts/Radnika-Regular.otf");
}
@font-face {
  font-family: radnika-medium;
  src: url("fonts/Radnika-Medium.otf");
}
@font-face {
  font-family: stratum-medium;
  src: url("fonts/Stratum2-Medium.otf");
}

#title {
  position: relative;
  margin: 0 auto;
  max-width: 650px;
  margin-top: 30px;
}
h1 {
  font-family: radnika-black;
  font-size: 30px;
  text-align: center;
  margin: 0;
}
#options {
  position: relative;
  margin: 0 auto;
  max-width: 550px;
  margin-top: 10px;
}
#container-options {
  display: flex;
  flex-wrap: wrap;
}
#filter-class {
  background-color: rgb(79,39,79);
  height: 30px;
  width: 115px;
  font-size: 13px;
  color: white;
  font-weight: 500;
  font-family: radnika-bold;
}
#graphic {
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  height: 2630px;
  max-width: 800px;
}
.midline {
  stroke-width: 2;
  opacity: .4;
}
.axisLabels {
  font-size: 12px;
  font-family: radnika-regular;
  text-anchor: end;
}
.dataLabels {
  font-size: 12px;
  font-family: stratum-medium;
}
.bars {
  fill: #f6bba8;
}
