@font-face {
  font-family: radnika-black;
  src: url("fonts/Radnika-Black.otf");
}
@font-face {
  font-family: radnika-bold;
  src: url("fonts/Radnika-Bold.otf");
}
@font-face {
  font-family: radnika-regular;
  src: url("fonts/Radnika-Regular.otf");
}
@font-face {
  font-family: radnika-medium;
  src: url("fonts/Radnika-Medium.otf");
}
@font-face {
  font-family: stratum-medium;
  src: url("fonts/Stratum2-Medium.otf");
}

#title {
  position: relative;
  margin: 0 auto;
  max-width: 650px;
  margin-top: 30px;
}
h1 {
  font-family: radnika-black;
  font-size: 30px;
  text-align: center;
  margin: 0;
}
#graphic {
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  height: 2630px;
  max-width: 800px;
}
.bars {
  fill: #f6bba8;
}
.axisLabels {
  font-size: 12px;
  font-family: radnika-regular;
  text-anchor: end;
}
